<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Jobs List</title>

</head>
<body>
<div th:replace="navbar :: navbar"></div>
  <h1>Jobs List</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="jobs : ${jobsList}">
      <td th:text="${jobs.id}"></td>
      <td th:text="${jobs.name}"></td>
      <td th:text="${jobs.description}"></td>
      <td>
        от <span th:text="${jobs.cost}"></span> р.
      </td>
      <td>
        <div sec:authorize="hasAuthority('ADMIN')">
          <form th:action="@{/jobs/{id}/delete(id=${jobs.id})}" method="post">
            <button type="submit" class="btn btn-danger">Удалить</button>
          </form>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')">
          <a th:href="@{/jobs/{id}/edit(id=${jobs.id})}" class="btn btn-primary">Редактировать</a>
        </div>
        <div sec:authorize="hasAuthority('USER')">
        <form th:action="@{/jobs/{id}/signup(id=${jobs.id})}" method="post">
          <button type="submit" class="btn btn-primary">Записаться</button>
        </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>




<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>